.container-fluid {
    background-color: #f8f9fa;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .mat-card-header {
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-card-actions {
    margin-top: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .row {
    margin-top: 20px;
  }
  
  .mat-card img {
    height: 200px;
    object-fit: cover;
  }
  